.galaxy {
  &--mobile {
    .slides {
      width: 100%;
      height: 100%;
      padding-top: 25%;
      @include flex(center, center);
      .slide {
        // opacity: 0;
        // background: transparent;
        // width: 0;
        // height: 0;
        &-content {
          display: none;
        }
        &::after {
          //   display: none;
          z-index: -1;
        }
      }
      &-box {
        width: unset;
        height: unset;
        position: unset;
      }
    }
  }
}
