.header {
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  @include flex(center, space-between);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  &-logo {
    width: 126px;
  }
}
@media screen and (max-width: 1199px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .button.header-link {
    padding: 8px 20px;
  }
}
