.info-scan {
  background: linear-gradient(253.28deg, #052365 0.64%, #141522 61.26%);
  width: 100%;
  height: 100%;
  &-container {
    @include flex(center, center, column);
    height: 100%;
    margin: 0 auto;
    &--full {
      width: 100%;
      align-items: center;
    }
  }
  &-line {
    display: block;
    width: 1px;
    height: 75px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      display: block;
      width: 8px;
      height: 8px;
      background: white;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }
  &-image {
    width: 1060px;
    height: 596px;
    position: relative;
    display: block;

    &__sub {
      text-align: center;
      font-size: 12px;
      margin-top: 100px;
    }
  }
  &__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: calc(29px / 24px);
    text-transform: uppercase;
    margin-bottom: 16px;
    &--primary {
      @include flex(center);
      margin-bottom: 51px;
      .info-scan__heading-icon {
        margin-right: 9px;
      }
    }
  }
  .icon-box {
    $size: 43px;
    width: $size;
    height: $size;
    position: absolute;
    right: 30px;
    top: 30px;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(135deg);
    cursor: pointer;
    @include flex(center, center);
    img {
      transform: rotate(-135deg);
    }
  }
}
