.intro {
  // padding-top: 238px;
  height: 100%;
  @include flex(center, center, column);
  z-index: 10;
  &.hide {
    animation: animateFade $duration forwards;
  }
  &.show {
    animation: animateFade $duration forwards;
  }
  &.reverse {
    animation-direction: reverse;
  }
  // &.active {
  //   z-index: 50;
  // }
  &-logo {
    width: 230px;
  }
  &-line {
    padding: 35px;
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    line-height: calc(29px / 24px);
  }
}
@keyframes animateFade {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
